body {
    background-color: #121212;
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-text {
    text-align: center;
}

.ascii-art {
    font-size: 16px;
    white-space: pre;
    text-align: center;
}

@media (max-width: 768px) {
    .ascii-art {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .ascii-art {
        font-size: 8px;
    }
}

.log-container {
    width: 100%;
    max-height: calc(70vh - 100px); /* Subtract height of fixed elements */
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
    flex: 1;
}

.password-container {
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

input[type="password"],
input[type="text"] {
    width: calc(100% - 40px);
    padding: 10px;
    border: none;
    background-color: #1e1e1e;
    color: #00FF00;
    outline: none;
    margin-bottom: 10px;
}

button:hover {
    background-color: #00cc00;
}

button+button {
    margin-left: 10px;
}

.neon-hr {
    border: none;
    border-top: 5px solid #00FF00;
    margin: 0;
}

.eye {
    padding: 10px 10px;
    background-color: #00ddff;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-weight: 1000;
    border-radius: 20%;
}

button {
    padding: 15px 125px;
    background-color: #00FF00;
    border: none;
    color: #121212;
    cursor: pointer;
    font-weight: 1000;
    border-radius: 0%;
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fixed-header .ascii-art,
.fixed-header .neon-hr {
    width: 100%;
}

.fixed-header .neon-hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-content {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: calc(100vh - 100px);
}
